<#@ template language="C#" linePragmas="false" #>
<#@ import namespace="DTDLParser.Models" #>
<# this.PushIndent(new string(' ', this.indent)); #>
"type": "map",
"values": {
<#=AvroSchemaSupport.GetTypeAndAddenda(this.valueSchema, 2, nullable: false, nestNamedType: false)#>
},
"default": {}<# this.PopIndent(); #>
