<#@ template language="C#" linePragmas="false" #>
{
  "namespace": "<#=this.projectName#>.<#=this.genNamespace#>",
  "name": "<#=this.schema#>",
  "type": "record",
  "fields": [
    {
      "name": "<#=this.paramName#>",
<#=AvroSchemaSupport.GetTypeAndAddenda(this.paramSchema, this.dtmiToSchemaName, indent: 6, this.isNullable, nestNamedType: true)#>
    }
  ]
}
