# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[*.cs]

#### Core EditorConfig Options ####

file_header_template = Copyright (c) Microsoft Corporation.\nLicensed under the MIT License.