<#@ template language="C#" linePragmas="false" hostspecific="true" #>
<#
string modelId = Host.ResolveParameterValue(null, null, "modelId");
string format = Host.ResolveParameterValue(null, null, "format");
string telemTopic = Host.ResolveParameterValue(null, null, "telemTopic");
bool needsIndex = format == "Protobuf/2" || format == "Protobuf/3" || format == "Cbor/rfc/8949";
#>
[
  {
    "@context": [
      "dtmi:dtdl:context;3",
      "dtmi:dtdl:extension:mqtt;1"
    ],
    "@type": [ "Interface", "Mqtt" ],
    "@id": "<#=modelId#>",
    "payloadFormat": "<#=format#>",
<# if (telemTopic != "") { #>
    "telemetryTopic": "<#=telemTopic#>",
<# } #>
    "contents": [
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 1,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "UPPERCASE",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 2,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "lowercase",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 3,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "Capitalized",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 4,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "snake_case",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 5,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "SCREAMING_SNAKE_CASE",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 6,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "Capital_Snake_Case",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 7,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "DigitEnd9",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 8,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "Digit9Mid",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 9,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "snake_99",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 10,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "double__lower",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 11,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "triple___lower",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 12,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "double__UPPER",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 13,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "triple___UPPER",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 14,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "double__Cap",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 15,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "triple__Cap",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 16,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "foo_1bar",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 17,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "foo__2bar",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 18,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "foo___3bar",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 19,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "foo_1BAZ",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 20,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "foo__2BAZ",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 21,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "foo___3BAZ",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 22,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "digit5lower",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 23,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "digits55lower",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 24,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "digit6UPPER",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 25,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "digits66UPPER",
        "schema": "double"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 26,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "wonkyEnum",
        "schema": {
          "@type": "Enum",
          "valueSchema": "integer",
          "enumValues": [
            {
              "name": "UPPERCASE",
              "enumValue": 1
            },
            {
              "name": "lowercase",
              "enumValue": 2
            },
            {
              "name": "snake_case",
              "enumValue": 3
            },
            {
              "name": "SCREAMING_SNAKE_CASE",
              "enumValue": 4
            }
          ]
        }
      }
    ]
  }
]
