go 1.23.0

use (
	./internal
	./mqtt
	./protocol
	./samples/counter/client
	./samples/counter/envoy
	./samples/counter/server
	./samples/greeter/client
	./samples/greeter/envoy
	./samples/greeter/server
	./samples/statestore
	./services
	./test/protocol
)

// **********************************************************************
// * The replace directives here determine the published version of the *
// * github.com/Azure/iot-operations-sdks modules.                      *
// *                                                                    *
// * Changing these versions will trigger a release.                    *
// **********************************************************************
replace (
	github.com/Azure/iot-operations-sdks/go/mqtt v0.1.1 => ./mqtt
	github.com/Azure/iot-operations-sdks/go/protocol v0.1.1 => ./protocol
)
