<#@ template language="C#" linePragmas="false" #>
<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>net7.0</TargetFramework>
    <Nullable>enable</Nullable>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.NET.Test.Sdk" Version="17.4.1" />
    <PackageReference Include="MSTest.TestAdapter" Version="3.0.2" />
    <PackageReference Include="MSTest.TestFramework" Version="3.0.2" />
  </ItemGroup>

  <ItemGroup>
    <PackageReference Include="Newtonsoft.Json" Version="13.0.2" />
  </ItemGroup>

  <ItemGroup>
    <ProjectReference Include="..\..\..\..\Azure.Iot.Operations.ProtocolCompiler.IntegrationTests.STK\dotnet\Azure.Iot.Operations.ProtocolCompiler.IntegrationTests.STK.csproj" />
    <ProjectReference Include="..\library<#=$"\\{this.testName}"#>.Library.csproj" />
  </ItemGroup>

  <ItemGroup>
    <AdditionalFiles Include="..\..\model<#=$"\\{this.testName}"#>.json" />
    <AdditionalFiles Include="..\..\cases\*.json" />
  </ItemGroup>

</Project>
