<#@ template language="C#" linePragmas="false" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Collections.Generic" #>
Microsoft Visual Studio Solution File, Format Version 12.00

<# List<string> projGuids = new List<string>();
foreach (string csProjFile in Directory.EnumerateFiles(@"..\generated", "*.csproj", SearchOption.AllDirectories))
{ string projGuid = Guid.NewGuid().ToString().ToUpper(); #>
Project("{9A19103F-16F7-4668-BE54-9A1E7A4F7556}") = "<#=Path.GetFileName(csProjFile)#>", "<#=csProjFile.Substring(@"..\generated\".Length)#>", "{<#=projGuid#>}"
EndProject
<# projGuids.Add(projGuid); } #>
Global
	GlobalSection(SolutionConfigurationPlatforms) = preSolution
		Debug|Any CPU = Debug|Any CPU
		Release|Any CPU = Release|Any CPU
	EndGlobalSection
	GlobalSection(ProjectConfigurationPlatforms) = postSolution
<# foreach (string projGuid in projGuids) { #>
		{<#=projGuid#>}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{<#=projGuid#>}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{<#=projGuid#>}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{<#=projGuid#>}.Release|Any CPU.Build.0 = Release|Any CPU
<# } #>
	EndGlobalSection
	GlobalSection(SolutionProperties) = preSolution
		HideSolutionNode = FALSE
	EndGlobalSection
	GlobalSection(ExtensibilityGlobals) = postSolution
		SolutionGuid = {9BB37C1F-1886-407A-9C00-BD54FF10CB8A}
	EndGlobalSection
EndGlobal
<#+
#>
