<#@ template language="C#" linePragmas="false" hostspecific="true" #>
<#
string modelId = Host.ResolveParameterValue(null, null, "modelId");
string format = Host.ResolveParameterValue(null, null, "format");
string cmdTopic = Host.ResolveParameterValue(null, null, "cmdTopic");
string metaNs = Host.ResolveParameterValue(null, null, "metaNs");
#>
[
  {
    "@context": [
      "dtmi:dtdl:context;3",
      "dtmi:dtdl:extension:mqtt;1"
    ],
    "@type": [ "Interface", "Mqtt" ],
    "@id": "<#=modelId#>",
    "payloadFormat": "<#=format#>",
<# if (cmdTopic != "") { #>
    "commandTopic": "<#=cmdTopic#>",
<# } #>
<# if (metaNs != "") { #>
    "commandMetadata": "<#=metaNs#>",
<# } #>
    "contents": [
      {
        "@type": "Command",
        "name": "noop"
      },
      {
        "@type": "Command",
        "name": "peek",
        "response": {
          "name": "outVal",
          "schema": "integer"
        }
      },
      {
        "@type": "Command",
        "name": "poke",
        "request": {
          "name": "inVal",
          "schema": "integer"
        }
      },
      {
        "@type": "Command",
        "name": "setColor",
        "request": {
          "name": "newColor",
          "schema": "string"
        },
        "response": {
          "name": "oldColor",
          "schema": "string"
        }
      }
    ]
  }
]
