<#@ template language="C#" linePragmas="false" hostspecific="true" #>
<#
string modelId = Host.ResolveParameterValue(null, null, "modelId");
string format = Host.ResolveParameterValue(null, null, "format");
string telemTopic = Host.ResolveParameterValue(null, null, "telemTopic");
bool needsIndex = format == "Protobuf/2" || format == "Protobuf/3" || format == "Cbor/rfc/8949";
#>
[
  {
    "@context": [
      "dtmi:dtdl:context;3",
      "dtmi:dtdl:extension:mqtt;1"
    ],
    "@type": [ "Interface", "Mqtt" ],
    "@id": "<#=modelId#>",
    "payloadFormat": "<#=format#>",
<# if (telemTopic != "") { #>
    "telemetryTopic": "<#=telemTopic#>",
<# } #>
    "schemas": [
      {
        "@id": "dtmi:test:intEnumProx;1",
        "@type": "Enum",
        "valueSchema": "integer",
        "description": "An enumerated value for expressing qualitative distance.",
        "enumValues": [
          {
            "name": "near",
            "enumValue": 1
          },
          {
            "name": "Far",
            "enumValue": 2
          },
          {
            "name": "UNREACHABLE",
            "enumValue": 3
          }
        ]
      }
    ],
    "contents": [
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 1,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "doubleArray1D",
        "schema": {
          "@type": "Array",
          "elementSchema": "double"
        }
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 2,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "doubleArray2D",
        "schema": {
          "@type": "Array",
          "elementSchema": {
            "@type": "Array",
            "elementSchema": "double"
          }
        }
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 3,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "doubleMap",
        "schema": {
          "@type": "Map",
          "mapKey": {
            "name": "stringKey",
            "schema": "string"
          },
          "mapValue": {
            "name": "doubleValue",
            "schema": "double"
          }
        }
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 4,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "doubleMapArray",
        "schema": {
          "@type": "Map",
          "mapKey": {
            "name": "stringKey",
            "schema": "string"
          },
          "mapValue": {
            "name": "arrayValue",
            "schema": {
              "@type": "Array",
              "elementSchema": "double"
            }
          }
        }
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 5,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "coordinates",
        "schema": {
          "@type": "Object",
          "fields": [
            {
<# if (needsIndex) { #>
              "@type": [ "Field", "Indexed" ],
              "index": 1,
<# } else { #>
              "@type": "Field",
<# } #>
              "name": "latitude",
              "schema": "double"
            },
            {
<# if (needsIndex) { #>
              "@type": [ "Field", "Indexed" ],
              "index": 2,
<# } else { #>
              "@type": "Field",
<# } #>
              "name": "longitude",
              "schema": "double"
            }
          ]
        }
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 6,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "proximity",
        "schema": "dtmi:test:intEnumProx;1"
      },
      {
<# if (needsIndex) { #>
        "@type": [ "Telemetry", "Indexed" ],
        "index": 7,
<# } else { #>
        "@type": "Telemetry",
<# } #>
        "name": "speed",
        "schema": {
          "@type": "Enum",
          "valueSchema": "string",
          "enumValues": [
            {
<# if (needsIndex) { #>
              "@type": [ "EnumValue", "Indexed" ],
              "index": 1,
<# } else { #>
              "@type": "EnumValue",
<# } #>
              "name": "Slow",
              "enumValue": "lente"
            },
            {
<# if (needsIndex) { #>
              "@type": [ "EnumValue", "Indexed" ],
              "index": 2,
<# } else { #>
              "@type": "EnumValue",
<# } #>
              "name": "fast",
              "enumValue": "rapide"
            }
          ]
        }
      }
    ]
  }
]
